@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #F5C400;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4a115; }

@font-face {
  font-family: 'Conv_gl-gordeziani-medium';
  src: url("../fonts/gl-gordeziani-medium.eot");
  src: local("☺"), url("../fonts/gl-gordeziani-medium.woff") format("woff"), url("../fonts/gl-gordeziani-medium.ttf") format("truetype"), url("../fonts/gl-gordeziani-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_bpg_mrgvlovani_2009';
  src: url("../fonts/bpg_mrgvlovani_2009.eot");
  src: local("☺"), url("../fonts/bpg_mrgvlovani_2009.woff") format("woff"), url("../fonts/bpg_mrgvlovani_2009.ttf") format("truetype"), url("../fonts/bpg_mrgvlovani_2009.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_bpg_nino_mtavruli_normal';
  src: url("../fonts/bpg_nino_mtavruli_normal.eot");
  src: local("☺"), url("../fonts/bpg_nino_mtavruli_normal.woff") format("woff"), url("../fonts/bpg_nino_mtavruli_normal.ttf") format("truetype"), url("../fonts/bpg_nino_mtavruli_normal.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.header_fluid {
  padding: 0 50px;
  position: absolute;
  top: 0;
  left: 0; }
  .header_fluid .header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 5px; }
    .header_fluid .header_logo a {
      display: block; }
      .header_fluid .header_logo a img {
        width: 130px;
        height: auto; }
  .header_fluid .header_nav {
    height: 100%;
    width: 90%;
    margin: 0 auto; }
    .header_fluid .header_nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%; }
      .header_fluid .header_nav ul a {
        font-size: 27px;
        color: #493728;
        position: relative;
        font-family: 'Conv_gl-gordeziani-medium'; }
        .header_fluid .header_nav ul a:after {
          position: absolute;
          content: "";
          width: 0;
          height: 2px;
          border-radius: 20px;
          background-color: #F5C400;
          top: 32px;
          left: 50%;
          transition: all .4s; }
        .header_fluid .header_nav ul a:hover:after {
          width: 100%;
          left: 0; }
  .header_fluid .header_language_search_box {
    height: 100%;
    display: flex;
    align-items: center; }
    .header_fluid .header_language_search_box .header_language_box span {
      color: #493728;
      position: relative;
      cursor: pointer;
      font-family: 'Conv_gl-gordeziani-medium';
      font-size: 25px; }
      .header_fluid .header_language_search_box .header_language_box span.active {
        position: relative; }
        .header_fluid .header_language_search_box .header_language_box span.active:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          border-radius: 20px;
          background-color: #F5C400;
          top: 25px;
          left: 0;
          transition: all 0.4s; }
    .header_fluid .header_language_search_box .header_seach_box span {
      cursor: pointer;
      padding-left: 20px; }
      .header_fluid .header_language_search_box .header_seach_box span:hover img {
        transform: scale(1.2); }
      .header_fluid .header_language_search_box .header_seach_box span img {
        width: 27px;
        transition: .4s; }

.footer_fluid {
  background-color: #493728;
  padding-top: 50px; }
  .footer_fluid .copyright_box span {
    color: #fff;
    font-size: 14px;
    font-family: 'Conv_bpg_nino_mtavruli_normal'; }
  .footer_fluid .footer_container {
    max-width: 1376px;
    padding-top: 40px; }
    .footer_fluid .footer_container .footer_bot_row {
      margin-top: 30px; }
    .footer_fluid .footer_container .footer_address_box {
      display: flex; }
      .footer_fluid .footer_container .footer_address_box.footer_address_left {
        justify-content: flex-end; }
      .footer_fluid .footer_container .footer_address_box.footer_address_center {
        justify-content: center; }
      .footer_fluid .footer_container .footer_address_box span:first-child {
        display: inline-block;
        border: 2px solid #fff;
        border-bottom: none;
        padding: 3px;
        height: 40px; }
      .footer_fluid .footer_container .footer_address_box span:last-child {
        color: #fff;
        font-size: 15px;
        padding-left: 10px;
        font-family: 'Conv_bpg_nino_mtavruli_normal'; }
    .footer_fluid .footer_container .footer_icons {
      height: 100%;
      display: flex;
      align-items: center;
      max-width: 90px;
      justify-content: space-between; }
      .footer_fluid .footer_container .footer_icons a img {
        width: 25px; }
    .footer_fluid .footer_container .footer_mail_box span {
      display: block;
      font-size: 16px;
      color: #fff;
      font-family: 'Conv_bpg_nino_mtavruli_normal'; }
    .footer_fluid .footer_container .footer_mail_box a {
      color: #fff;
      font-size: 14px;
      display: block;
      width: 180px;
      height: 30px;
      background-image: url(../images/send_btn.png);
      background-size: 12% 68%;
      background-position: 97% center;
      background-repeat: no-repeat;
      padding: 5px 5px;
      border: 2px solid #fff;
      font-family: 'Conv_bpg_nino_mtavruli_normal';
      transition: all .4s; }
      .footer_fluid .footer_container .footer_mail_box a:hover {
        background-position: 85% center; }
    .footer_fluid .footer_container .footer_cnt_box {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center; }
      .footer_fluid .footer_container .footer_cnt_box a {
        font-size: 17px;
        color: #fff;
        font-family: 'Conv_bpg_nino_mtavruli_normal'; }
        .footer_fluid .footer_container .footer_cnt_box a:not(:last-child) {
          padding-right: 20px;
          position: relative; }
          .footer_fluid .footer_container .footer_cnt_box a:not(:last-child):after {
            content: "";
            position: absolute;
            top: 0;
            right: 8px;
            width: 1px;
            height: 100%;
            background-color: #fff; }

.row:after, .row:before {
  content: unset; }

.right_fixed_icons {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  width: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-left: 2px solid  #F5C400;
  z-index: 1; }
  .right_fixed_icons a {
    display: block; }
    .right_fixed_icons a img {
      width: 25px; }

.home_main_fluid {
  background-image: radial-gradient(rgba(141, 106, 41, 0.5), rgba(141, 106, 41, 0.5)), url("../images/nutrimax.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .home_main_fluid .home_tittle_box {
    border-right: 3px solid  #F5C400;
    padding: 5px 10px;
    text-align: right; }
    .home_main_fluid .home_tittle_box h1 {
      color: #fff;
      font-size: 35px;
      text-align: right;
      font-size: 62px;
      font-family: 'Conv_gl-gordeziani-medium'; }
    .home_main_fluid .home_tittle_box a {
      display: inline-block;
      font-size: 26px;
      color: #fff;
      text-align: right;
      font-family: 'Conv_gl-gordeziani-medium';
      transition: all .4s; }
      .home_main_fluid .home_tittle_box a:hover {
        color: #F5C400; }

.home_products_fluid {
  padding: 30px 15px; }
  .home_products_fluid .products_tittle {
    border-left: 3px solid  #F5C400;
    padding: 0 5px;
    background-image: url(../images/tittle_bord.png);
    background-repeat: no-repeat;
    background-position: right bottom; }
    .home_products_fluid .products_tittle h2 {
      color: #493728;
      font-size: 40px;
      font-family: 'Conv_gl-gordeziani-medium'; }
  .home_products_fluid .home_product_container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1378px; }
    .home_products_fluid .home_product_container .col-md-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .home_products_fluid .home_product_container .products_content {
      margin-bottom: 10px;
      box-shadow: 0px 0px 3px 0px #000; }
      .home_products_fluid .home_product_container .products_content a {
        font-family: 'Conv_gl-gordeziani-medium';
        display: block;
        width: 100%;
        min-height: 342px;
        padding-top: 30px;
        padding-bottom: 50px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        transition: all .4s; }
        .home_products_fluid .home_product_container .products_content a:hover {
          background-color: #F5C400; }
        .home_products_fluid .home_product_container .products_content a:hover h3 {
          color: #fff;
          transform: scale(1.1) translateY(30px); }
        .home_products_fluid .home_product_container .products_content a:hover img {
          filter: brightness(0) invert(1);
          transform: scale(1.1) translateY(-30px); }
        .home_products_fluid .home_product_container .products_content a h3 {
          color: #493728;
          font-size: 30px;
          transition: all .4s; }
        .home_products_fluid .home_product_container .products_content a img {
          transition: all .4s;
          max-width: 140px; }

.home_services_fluid {
  background-image: radial-gradient(rgba(18, 19, 35, 0.8), rgba(18, 19, 35, 0.8)), url("../images/service-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 80px;
  overflow: hidden; }
  .home_services_fluid .home_services_tittle_container .laboratory_tittle {
    border: 1px solid transparent;
    transition: .4s;
    padding: 35px;
    cursor: pointer; }
    .home_services_fluid .home_services_tittle_container .laboratory_tittle.active {
      border-color: #fff; }
    .home_services_fluid .home_services_tittle_container .laboratory_tittle h2 {
      font-size: 30px;
      color: #F5C400;
      font-family: 'Conv_gl-gordeziani-medium'; }
  .home_services_fluid .home_services_tittle_container .farmers_tittle {
    border: 1px solid transparent;
    transition: .4s;
    border-top: none;
    padding: 35px;
    cursor: pointer; }
    .home_services_fluid .home_services_tittle_container .farmers_tittle.active {
      border-color: #fff; }
    .home_services_fluid .home_services_tittle_container .farmers_tittle h2 {
      font-size: 30px;
      color: #F5C400;
      font-family: 'Conv_gl-gordeziani-medium'; }
  .home_services_fluid .home_services_content_container.lab_cont {
    animation: serviceAnimeleft .8s; }
  .home_services_fluid .home_services_content_container.farmers_cont {
    display: none;
    animation: serviceAnimeright .8s; }
  .home_services_fluid .home_services_content_container.active {
    display: block; }
  .home_services_fluid .home_services_content_container.deactive {
    display: none; }
  .home_services_fluid .home_services_content_container .services_tittle {
    border-left: 2px solid #F5C400;
    padding: 0px 5px;
    margin: 55px 0;
    background-image: url(../images/tittle_bord.png);
    background-repeat: no-repeat;
    background-position: right bottom; }
    .home_services_fluid .home_services_content_container .services_tittle h3 {
      font-size: 40px;
      color: #fff;
      font-family: 'Conv_gl-gordeziani-medium'; }
  .home_services_fluid .home_services_content_container .laboratory_content {
    border-left: 1px solid #fff;
    padding: 0 10px;
    margin: 70px 0; }
    .home_services_fluid .home_services_content_container .laboratory_content p {
      color: #fff;
      font-size: 14px;
      font-family: 'Conv_bpg_mrgvlovani_2009'; }
    .home_services_fluid .home_services_content_container .laboratory_content a {
      display: inline-block;
      color: #F5C400;
      font-family: 'Conv_gl-gordeziani-medium'; }

.home_news_fluid {
  padding: 30px 30px;
  background-color: #dfdbd2; }
  .home_news_fluid .home_news_tittle {
    padding: 0px 5px;
    border-left: 2px solid #F5C400;
    background-image: url(../images/tittle_bord.png);
    background-repeat: no-repeat;
    background-position: right bottom; }
    .home_news_fluid .home_news_tittle h2 {
      color: #493728;
      font-size: 40px;
      font-family: 'Conv_gl-gordeziani-medium'; }
  .home_news_fluid .home_news_container {
    max-width: 1476px;
    margin-top: 50px; }
    .home_news_fluid .home_news_container .owl-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 0px; }
      .home_news_fluid .home_news_container .owl-nav button {
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        outline: none;
        background-position: center;
        background-size: cover;
        transition: all .4s;
        opacity: .4; }
        .home_news_fluid .home_news_container .owl-nav button:hover {
          opacity: 1; }
        .home_news_fluid .home_news_container .owl-nav button.owl-prev {
          background-image: url("../images/arrow_left.png");
          margin-right: 10px; }
        .home_news_fluid .home_news_container .owl-nav button.owl-next {
          background-image: url("../images/arrow_right.png"); }
        .home_news_fluid .home_news_container .owl-nav button span {
          display: none; }
    .home_news_fluid .home_news_container .owl-dots {
      display: none; }
    .home_news_fluid .home_news_container .news_box {
      display: flex; }
      .home_news_fluid .home_news_container .news_box .news_img_box {
        width: 50%;
        max-height: 355px; }
        .home_news_fluid .home_news_container .news_box .news_img_box a {
          display: block;
          overflow: hidden;
          border-radius: 5px; }
          .home_news_fluid .home_news_container .news_box .news_img_box a:hover img {
            transform: scale(1.2);
            filter: saturate(3); }
          .home_news_fluid .home_news_container .news_box .news_img_box a img {
            width: 100%;
            height: 100%;
            background-size: cover;
            transition: all .4s; }
      .home_news_fluid .home_news_container .news_box .news_info_box {
        width: 50%;
        padding: 40px 15px 15px; }
        .home_news_fluid .home_news_container .news_box .news_info_box a {
          font-size: 16px;
          text-align: right;
          color: #000;
          display: block;
          font-family: 'Conv_gl-gordeziani-medium'; }
        .home_news_fluid .home_news_container .news_box .news_info_box .news_info_text {
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          .home_news_fluid .home_news_container .news_box .news_info_box .news_info_text h3 {
            color: #000;
            font-size: 24px;
            text-align: center;
            font-family: 'Conv_gl-gordeziani-medium'; }
          .home_news_fluid .home_news_container .news_box .news_info_box .news_info_text p {
            color: #000;
            font-size: 13px;
            margin-top: 20px;
            font-family: 'Conv_bpg_mrgvlovani_2009'; }

.home_partner_fluid {
  padding: 50px 30px; }
  .home_partner_fluid .home_partner_container {
    max-width: 1000px;
    margin-top: 30px; }
    .home_partner_fluid .home_partner_container .item {
      min-height: 150px;
      display: flex;
      align-items: flex-end; }
    .home_partner_fluid .home_partner_container .partners_box a {
      display: block; }
      .home_partner_fluid .home_partner_container .partners_box a:hover img {
        transform: translateY(-20px); }
      .home_partner_fluid .home_partner_container .partners_box a img {
        width: 150px;
        transition: all .4s; }
  .home_partner_fluid .home_partners_tittle {
    border-left: 2px solid #F5C400;
    padding: 0 5px;
    background-image: url(../images/tittle_bord.png);
    background-repeat: no-repeat;
    background-position: right bottom; }
    .home_partner_fluid .home_partners_tittle h2 {
      font-size: 40px;
      color: #493728;
      font-family: 'Conv_gl-gordeziani-medium'; }

@keyframes serviceAnimeleft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes serviceAnimeright {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/*# sourceMappingURL=main.css.map */
