
@font-face {
	font-family: 'Conv_gl-gordeziani-medium';
	src: url('../fonts/gl-gordeziani-medium.eot');
	src: local('☺'), url('../fonts/gl-gordeziani-medium.woff') format('woff'), url('../fonts/gl-gordeziani-medium.ttf') format('truetype'), url('../fonts/gl-gordeziani-medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_bpg_mrgvlovani_2009';
	src: url('../fonts/bpg_mrgvlovani_2009.eot');
	src: local('☺'), url('../fonts/bpg_mrgvlovani_2009.woff') format('woff'), url('../fonts/bpg_mrgvlovani_2009.ttf') format('truetype'), url('../fonts/bpg_mrgvlovani_2009.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_bpg_nino_mtavruli_normal';
	src: url('../fonts/bpg_nino_mtavruli_normal.eot');
	src: local('☺'), url('../fonts/bpg_nino_mtavruli_normal.woff') format('woff'), url('../fonts/bpg_nino_mtavruli_normal.ttf') format('truetype'), url('../fonts/bpg_nino_mtavruli_normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}