

.for_about {
	display: none !important;
}

.about_content_tabs_box {
	position: fixed;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
	z-index: 1;



		.about_content_tabs_tittle{
			margin-bottom: 10px;

			h4 {
				color: #8D6A29;
				font-size: 20px;
				font-family: 'Conv_gl-gordeziani-medium';
			}
		}

		.about_content_tabs {

			&.active {

				transform: scale(1.2);

				img {
					transition: .4s;
					transform: scale(1.2);
				}
				

			}

			&:not(:last-child){
				margin-bottom: 20px;
			}

			a {
				display: block;
				text-align: center;
					img {

						width:50px;
					}
			}
		}
}


.about_fluid {
	

	position: relative;
	background-image: url("../images/about_bg.png");
	    background-size: contain;
	

		.about_container {

			max-width: 1455px;

			& > .row:not(:first-child) {
				padding: 250px 0;
			}

			.about_inside_about_row {
				padding: 100px 0 !important;
			}

			.about_news_tittle {

				display: flex;
			    align-items: center;
			    flex-direction: column;


				 h3 {
				 	color: #8C8934;
				 	font-size: 51px;
				 	font-family: 'Conv_gl-gordeziani-bold';

				 }
			}


			.about_news_text {

				border-left: 3px solid #8C8934;
				    padding: 52px 25px;

				 p {
				 	font-size: 16px;
				 	color: #000D20;
				 	font-family: 'Conv_BPG_Tahoma_Glaho';
				 }
			}
			

			.about_quality_text {
				
				padding: 45px 20px;
				border-right: 3px solid #F5C400;

				p {
					color: #000D20;
					font-size: 16px;
					font-family: 'Conv_BPG_Tahoma_Glaho';

				}
			}
			


			.about_qualiti_tittle {

					display: flex;
				    flex-direction: column;
				    align-items: flex-start;
				    justify-content: center;
				    height: 100%;

				 h3 {
				 	color: #F5C400;
				 	font-size: 47px;
				 	font-family: 'Conv_gl-gordeziani-bold';

				 }

				 img {
				 	padding-left: 50px;
				 }
			}



			.about_knowhow_box {

								display: flex;
    			flex-direction: column;
    			align-items: center;
    			justify-content: flex-end;


				h3 {
					color: #8D6A29;
					font-size: 51px;
					font-family: 'Conv_gl-gordeziani-bold';

				}
			}


			.about_knowhow_text {
				border-left: 3px solid #8D6A29;
				padding: 51px 26px;


				p {
					color: #000D20;
					font-size: 16px;
					font-family: 'Conv_BPG_Tahoma_Glaho';
				}
			}


			.about_partners_box {

				border-right: 3px solid #8C8934;
				padding: 30px 0px;
				




				 p {
				 	color: #000D20;
				 	font-size: 16px;
				 	font-family: 'Conv_BPG_Tahoma_Glaho';

				 }
			}


			.about_partners_tittle {
					
					    display: flex;
					    flex-direction: column;
					    align-items: center;
					    justify-content: center;
					    height: 100%;


				h3 {
					font-size: 47px;
					color: #8C8934;
					font-family: 'Conv_gl-gordeziani-bold';
				}
			}



			.about_inside_tittle {
					text-align: center;
    				display: flex;
    				flex-direction: column;
   				 	justify-content: center;
   				 	align-items: center;
    				height: 100%;


					h3 {
						color: #F5C400;
						font-family: 'Conv_gl-gordeziani-bold';
						font-size: 51px;
					}
			}
			

			.about_inside_about {
					
					border-left: 3px solid #F5C400;
					padding: 15px 30px;

				p {
					font-size: 16px;
					font-family: 'Conv_BPG_Tahoma_Glaho';
					color: #000D20;

					&:last-child {
						margin-bottom:0px;
					}

				}

				li {
					font-size: 16px;
					font-family: 'Conv_BPG_Tahoma_Glaho';
					color: #000D20;

					&:not(:last-child){
						margin-bottom: 20px;
					}
				}
			}

			.about_tittle_row {

				margin: 30px 0;
			}

			.about_tittle {

				    border-left: 3px solid #F5C400;
    				padding: 0 5px;
    				background-image: url(../images/tittle_bord.png);
    				background-repeat: no-repeat;
    				background-position: right bottom;


				h2 {
					color: #493728;
    				font-size: 40px;
    				font-family: 'Conv_gl-gordeziani-medium';
				}
			}




			.mission_box {
				border-right: 3px solid #8C8934;
				padding: 95px 20px;

					p {
						font-family: 'Conv_BPG_Tahoma_Glaho';
						font-size: 16px;
						color: #000D20;
					}
			}

			.mission_img_box {
					
					text-align: center;

				h3 {
					font-size: 51px;
					font-family: 'Conv_gl-gordeziani-bold';
					color: #8C8934;
				}
			}

		}
}

.news_fluid {
	    position: relative;
    background-image: url(../images/about_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:150px;

     .news_in_container {

     	.new_col {
     		margin-bottom: 20px;
     	}
 				
 				.news_tittle {
 					border-left: 3px solid #F5C400;
				    padding: 0 5px;
				    background-image: url(../images/tittle_bord.png);
				    background-repeat: no-repeat;
				    background-position: right bottom;
				        margin: 60px 0;

 					  h2 {
					 	color: #493728;
					    font-size: 40px;
					    font-family: 'Conv_gl-gordeziani-medium';
 					  }
 				}
      }
}


.news_box {
	    display: flex;
    box-shadow :3px 4px 7px 0px #0000001f;

    	.news_img_box {
    		width: 50%;
   			 max-height: 355px;

   			   a {
   			   	display: block;
   					height: 100%;

   					 img {
   					 	width: 100%;
						height: 100%;
						background-size: cover;
						transition: all .4s;
						 object-fit: cover;
   					 }
   			   }
    	}

   .news_info_box {
   		    width: 50%;
    padding: 40px 15px 15px;
    background-color: #fff;
			
			a {
				    font-size: 21px;
				    text-align: right;
				    color: #000;
				    display: block;
				    font-family: 'Conv_gl-gordeziani-medium';
			}
			

       .news_info_text {
		     height: 90%;
		    display: flex;
		    flex-direction: column;
		    justify-content: flex-start;

		     h3 {
		     	    color: #000;
				    font-size: 24px;
				    text-align: center;
				    font-family: 'Conv_gl-gordeziani-medium';
		     }

		     p {
		     	color: #000;
			    font-size: 13px;
			    margin-top: 20px;
			    font-family: 'Conv_bpg_mrgvlovani_2009'
		     }
       }
   } 	
}

.header_fluid {
	position: relative;
	z-index: 100;
}
.news_inside_fluid {

	/*    background-image: radial-gradient(rgba(255, 255, 255, 0.6),
	     rgba(255, 255, 255, 0.6)), url(../images/ingredient_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
/*	filter: blur(8px);*/
	height: 100vh;
	position: relative;
	z-index: 100;

			&:after{
				content:"";
				position: absolute;
				top: 0;
				left: 0;
				filter: blur(8px);
				width: 100%;
				filter: blur(8px);
				height: 100%;
				 background-image: radial-gradient(rgba(255, 255, 255, 0.6),
	     rgba(255, 255, 255, 0.6)), url(../images/ingredient_bg.jpg);

			}

		.news_inside_container {
					

					.news_main_wrapper {

						   width: 100%;
					    margin: 55px auto 0;
					    padding: 40px 40px 80px 40px;
					    position: relative;
					    overflow: hidden;
					    z-index: 100;
					}

				.news_main_box {

					 width: 100%;
					 height: 100%;

					 .news_main_box_content_text {

					 	 p {
					 	 	color: #000D20;
					 	 	font-family: 'Conv_BPG_Tahoma_Glaho';
					 	 	font-size: 16px;
					 	 }
					 }


					 .news_main_box_content {
					 	   

					     .news_tittlex {
					     	 h2 {
					     	 	color: #493728;
					     	 	font-size: 28px;
					     	 	font-family: 'Conv_gl-gordeziani-medium';

					     	 }
					     }
					 }
				}

		}
}




/*// about responsive*/

@media only screen and (max-width: 1600px) {
	
	.about_partners_tittle {
		padding-right: 5vw;
	}

}


@media only screen and (max-width: 1024px) {
	
.about_fluid .about_container .about_tittle h2 {
    font-size: 30px;
}

.about_fluid .about_container .mission_box p {
    font-size: 13px;
}
.about_fluid .about_container .mission_box {
    border-right: 3px solid #8C8934;
    padding: 41px 20px;
}

.about_fluid .about_container .mission_img_box h3 {
    font-size: 31px;

}

.about_fluid .about_container .mission_img_box {
    
     img {
     	width: 100px;
     }
}
.about_fluid .about_container .mission_img_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.about_fluid .about_container > .row:not(:first-child) {
    padding: 160px 0;
}

.about_fluid .about_container .about_inside_about p {
    font-size: 13px;
    font-family: 'Conv_BPG_Tahoma_Glaho';
    color: #000D20;
}

.about_fluid .about_container .about_partners_box p {
    color: #000D20;
    font-size: 13px;
    font-family: 'Conv_BPG_Tahoma_Glaho';
}

.about_fluid .about_container .about_knowhow_text p {
    color: #000D20;
    font-size: 13px;
    font-family: 'Conv_BPG_Tahoma_Glaho';
}
.about_fluid .about_container .about_quality_text p {
    color: #000D20;
    font-size: 13px;
    font-family: 'Conv_BPG_Tahoma_Glaho';
}
.about_fluid .about_container .about_news_text p {
    font-size: 13px;
    color: #000D20;
    font-family: 'Conv_BPG_Tahoma_Glaho';
}

.about_container .row h3 {
	font-size: 31px !important;
}
.about_container .row img {
	width: 100px !important;
}
.about_fluid .about_container .about_partners_box {

    padding: 30px 20px;
}

.about_fluid .about_container .about_qualiti_tittle img {
     padding-left: 0px; 
}
.about_fluid .about_container .about_news_tittle {
    height: 100%;
    justify-content: center;
}

}




@media only screen and (max-width: 992px) {

	.mission_row {
		 .col-11 {
		 	padding-left: 0px;
		 	padding-right: 30px;
		 }
	}

	.about_inside_about_row {
		 .col-11, .col-10 {
		 	padding-left: 0px;
		 	padding-right: 30px;
		 }


	}

	.about_partners_row {
		 .col-11 {
		 	padding-left: 0px;
		 	padding-right: 30px;
		 }
	}

	.about_knowhow_row {
		.col-11 {
		 	padding-left: 0px;
		 	padding-right: 30px;
		 }
	}

	.about_quality_row {
		.col-11 {
		 	padding-left: 0px;
		 	padding-right: 30px;
		 }
	}

	.about_news_row {
			
			.col-11 {
		 	padding-left: 0px;
		 	padding-right: 30px;
		 }

	}


	.about_fluid .about_container .mission_box {
   	 border:unset;
    
	}

	.about_content_tabs_box .about_content_tabs a img {
   	 width: 40px;
	}

	.mission_row {
		flex-direction: column-reverse;
	}
	.about_container .row img {
    width: 80px !important;
	}


	.about_fluid .about_container .about_inside_about {
    border:unset;
	}
	.about_fluid .about_container .about_partners_box {
    border-right: unset;
	}

	.about_partners_row {
		flex-direction: column-reverse;
	}

	.about_fluid .about_container .about_partners_tittle {
 
    text-align: center;
	}

	.about_fluid .about_container .about_knowhow_text {
    	border-left:unset;
   		
	}

	
	.about_fluid .about_container .about_knowhow_box {
	 
	    justify-content: center;
	    text-align: center;
	    width: 100%;
	}

	.about_fluid .about_container .about_quality_text {
	    border-right: unset;
	}
	
	.about_quality_row {
		flex-direction: column-reverse;
	}


	.about_fluid .about_container .about_qualiti_tittle {
	  
	    align-items: center;
	  
	}

	.about_fluid .about_container .about_news_text {
	    border-left: unset;
	    padding: 52px 25px;
	}
	
	.about_news_row {
		justify-content: flex-start !important;
	}

	.about_fluid .about_container > .row:not(:first-child) {
    padding: 90px 0;
	}


	.news_fluid .news_in_container .news_tittle h2 {
   		 font-size: 30px;

	}


	.news_inside_fluid {
	     height: unset; 

	}
	.news_inside_fluid .news_inside_container .news_main_box .news_main_box_content_text p {
   
    font-size: 14px;
}
.news_inside_fluid .news_inside_container .news_main_wrapper {
 
    padding: 40px 10px 78px 10px;
    
}
.new_rw {
	padding-left: 0px;
	padding-right: 0px;
}

.news_tittlex  {
	margin: 15px 0;
}


}
@media (min-width: 768px){

	.container {
    	max-width: 790px;
	}

}


@media only screen and (max-width: 576px) {

	.about_fluid .about_container .about_inside_about li {
    font-size: 13px;
    
	}

	.about_container .row h3 {
   	 font-size: 23px !important;
	}

	.about_content_tabs_box .about_content_tabs a img {
    	width: 30px;
	}

	.about_fluid .about_container > .row:not(:first-child) {
    padding: 50px 0;
	}
	.about_fluid .about_container .mission_box {
    
    padding: 25px 0px;
	}

	.about_fluid .about_container .about_inside_about {

    padding: 15px 0px;
	}

	.about_fluid .about_container .about_partners_box {
    padding: 30px 0px;
	}

	.about_fluid .about_container .about_knowhow_text {
   
   	 padding: 51px 0px;
	}
	

	.about_fluid .about_container .about_quality_text {
    padding: 30px 27px 0px 0px;
   
	}
	.about_fluid .about_container .about_news_text {

    padding: 52px 0px;
}
.about_content_tabs_box {
  
    right: 1%;
   
}


	.news_box .news_info_box .news_info_text h3 {
   		font-size: 19px; 
	}

	.news_box .news_info_box .news_info_text p {
    font-size: 11px;
}

.news_box .news_info_box a {
    font-size: 19px;
  
	}

	.new_col {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.about_content_tabs_box .about_content_tabs_tittle h4 {
   
    font-size: 18px;
   
}

.about_content_tabs_box .about_content_tabs a img {
    width: 27px;
}	

}



@media only screen and (max-width: 425px) {
	
	.news_box .news_info_box .news_info_text p {
    font-size: 9px;
}
.news_box .news_info_box {
    
    padding: 12px 13px 9px;
   
}
.news_box .news_img_box {
  
   	 max-height: unset;
	}

	.news_box .news_info_box a {
    font-size: 16px;
}
}