
.row:after, .row:before {
	content: unset;
}

.owl-nav {
	display: none;
}

.right_fixed_icons {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background-color: rgba(255,255,255,.7);
	width: 50px;
	height:100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-left: 2px solid  #F5C400;
	z-index: 1;

		a {
			display: block;

				img {
					width: 25px;
				}
		}
}

.home_main_fluid {

	background-image: radial-gradient(rgba(141,106,41,.3),rgba(141,106,41,.3)) ,url("../images/nutrimax.jpg");
	background-position:top;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;


	.home_tittle_box {

		width:100%;
		height:100%;
		display:flex;
		align-items:center;
		justify-content:center;

		.home_tittle_ch {
			border-right: 3px solid  #F5C400;
		padding: 5px 10px;
		text-align: right;
		}

		h1 {
			color: #fff;
			font-size: 35px;
			text-align: right;
			font-size: 62px;
    		font-family: 'Conv_gl-gordeziani-medium';

		}

		a {
			display: inline-block;
			font-size: 26px;
			color: #fff;
			text-align: right;
			font-family: 'Conv_gl-gordeziani-medium';
			transition: all .4s;

				&:hover{
					color: #F5C400;
				}
			
		}
	}
}


.home_products_fluid {
	
	background-image: url("../images/home_sr_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 15px;

		.products_tittle {

			border-left: 3px solid  #F5C400;
			padding: 0 5px;
			background-image: url(../images/tittle_bord.png);
    		background-repeat: no-repeat;
    		background-position: right bottom;

			h2 {
				color: #493728;
				font-size: 40px;
				font-family: 'Conv_gl-gordeziani-medium';
			}
		}



		.home_product_container {

			    width: 80%;
   				margin: 0 auto;
   				padding: 50px 0;
   				max-width: 1378px;



   				.col-md-3 {
   					padding-left: 5px;
   					padding-right: 5px;
   				}
			

			.products_content {

				margin-bottom: 10px;
   				box-shadow: 3px 4px 7px 0px #0000001f;

   				 .fish_img {

   				 	height:100px;
   				 }






				a {

					font-family: 'Conv_gl-gordeziani-medium';
					display: block;
					width: 100%;
					min-height: 342px;
					padding-top: 30px;
					padding-bottom: 50px;
					background-color: #fff;
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					align-items: center;
					transition: all .4s;



					&:hover{

						background-color:#F5C400;
					}
					
					&:hover h3 {
						
						color:#fff;
						transform: scale(1.1) translateY(30px);
					}	

					&:hover img {

						    filter: brightness(0) invert(1);
						    transform: scale(1.1) translateY(-30px);
					}

					h3 {
						color: #493728;
						 font-size: 30px;
						 transition: all .4s;
					}


					img {
						
						transition: all .4s;
						    max-width: 140px;
					}

			}
		}

		}

}




.home_services_fluid {

	background-image: radial-gradient(rgba(18, 19, 35, .8), rgba(18, 19, 35 , .8)) ,url("../images/service-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-bottom: 80px;
	overflow: hidden;

	.home_services_tittle_container {

			.laboratory_tittle{

				border: 1px solid transparent;
				border-top: none;
				transition: .4s;

				&.active {
					border-color: #fff;
				}

				    padding: 22px;
				cursor: pointer;

				 h2 {
				 	    font-size: 30px;
				 	color:#F5C400;
				 	font-family: 'Conv_gl-gordeziani-medium';
				 }
			}


			.farmers_tittle {

				border: 1px solid transparent;
				transition: .4s;
		

				&.active {
				
					border-color: #fff;
				}

				
				border-top: none;
				padding: 22px;
				cursor: pointer;

				 h2 {
				 	font-size: 30px;
				 	color:#F5C400;
				 	font-family: 'Conv_gl-gordeziani-medium';
				 }
			}
	}



	.home_services_content_container {
			
		&.lab_cont {

			animation: serviceAnimeleft .8s;
		}


		&.farmers_cont {

			display: none;
			animation: serviceAnimeright .8s;
		}

		&.active{
			display: block;
		}
		
		&.deactive{
			display: none;
		}	

		.services_tittle {

			border-left: 2px solid #F5C400;
			padding: 0px 5px;
			margin: 55px 0;
			background-image: url(../images/tittle_bord.png);
    		background-repeat: no-repeat;
    		background-position: right bottom;

			h3 {
				font-size: 40px;
				color: #fff;
				font-family: 'Conv_gl-gordeziani-medium';
			}
		}


		.laboratory_content {

			border-left: 1px solid #fff;
			padding: 0 10px;
			margin: 70px 0;

			p {
				color: #fff;
				font-size: 14px;
				font-family: 'Conv_bpg_mrgvlovani_2009';


			}


			a {
				display: inline-block;
				color: #F5C400;
				font-family: 'Conv_gl-gordeziani-medium';
				    font-size: 21px;
			}
		}

	}

}



.home_news_fluid {
	padding: 50px 30px;;
	background-image: url("../images/home_pr_bg.png");

		.home_news_tittle {
			padding: 0px 5px;
			border-left: 2px solid #F5C400;
			background-image: url(../images/tittle_bord.png);
    		background-repeat: no-repeat;
    		background-position: right bottom;


			h2 {
				

    			 a {
    			 	color: #493728;
    			font-size: 40px;
    			font-family: 'Conv_gl-gordeziani-medium';

    			 &:hover{
    			 	text-decoration:none;
    			 }
    			 }
			}
		}



		.home_news_container {

			max-width: 1476px;
			margin-top: 50px;


			    .owl-nav {
			    	display: flex;
			    	justify-content: center;
			    	align-items: center;
			    	padding: 25px 0px;

			    	button {
			    		width: 30px;
			    		height: 30px;
			    		border:1px solid #000;
			    		outline: none;
			    		background-position: center;
    					background-size: cover;
    					transition: all .4s;
    					opacity: .4;

    					&:hover{
    						opacity: 1;
    					}

    						&.owl-prev {
    							background-image: url("../images/arrow_left.png");
    							margin-right: 10px;
    						}

    						&.owl-next {
    							background-image: url("../images/arrow_right.png");
    						}

			    		span {
			    			display: none;
			    		}
			    	}
			    }

			    .owl-dots {
			    	display: none;
			    }

			.news_box {
				display: flex;
				box-shadow: 3px 4px 7px 0px #0000001f;


				.news_img_box {
					width: 50%;
					max-height: 355px;

					a {
						display: block;
						    height: 100%;
						


							img {
								width: 100%;
								height: 100%;
								background-size: cover;
								transition: all .4s;
								object-fit: cover;
							}
					}
				}

				.news_info_box {
					width: 50%;
					padding: 40px 15px 15px;
					background-color: #fff;

					a {
						font-size: 21px;
						text-align: right;
						color: #000;
						display: block;
						font-family: 'Conv_gl-gordeziani-medium';
					}

					.news_info_text {
						height: 90%;
    					display: flex;
    					flex-direction: column;
    					justify-content: flex-start;

						h3 {
							color: #000;
							font-size: 24px;
    						text-align: center;
    						font-family: 'Conv_gl-gordeziani-medium';
						}

						p {
							color: #000;
							font-size: 13px;
							margin-top: 20px;
							font-family: 'Conv_bpg_mrgvlovani_2009';


						}

					}

					


				}
			}

		}

}





.home_partner_fluid {

	padding: 50px 30px 20px;

		.home_partner_container {
			max-width: 1000px;
			    margin-top: 10px;

			.item {
				min-height: 150px;
				display: flex;
				align-items: center;
			}


			.partners_box {

				a {
					display: block;

					&:hover img{

						transform:translateY(-20px);
					}

						img {
							width: 90px;
							transition: all .4s;
						}
				}

			}
		}

	.home_partners_tittle {

			border-left: 2px solid #F5C400;
			padding: 0 5px;
			background-image: url(../images/tittle_bord.png);
    		background-repeat: no-repeat;
    		background-position: right bottom;

			h2 {

				font-size: 40px;
				    color: #493728;
				font-family: 'Conv_gl-gordeziani-medium';
			}
	}	
}

@keyframes serviceAnimeleft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes serviceAnimeright {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.hamburger_box {
	display: none;
	cursor: pointer;
}

.resp_navigation_fluid {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 0px;
	height: 100%;
	background-color: rgba(245, 196, 0, .95);
	z-index: 200;
	transition:.4s;
	overflow: hidden;

	 &.active {

	 	width:100%;
	 }

	 .close_icon {
	 	 position: absolute;
	 	 top: 5%;
	 	 right: 5%;
	 	 z-index: 500;
	 	 cursor: pointer;
						
						 img {
						 	width: 25px;
						 }
	 }

	 .resp_navbar {
	 	width: 100%;
	 	height: 100%;
	 	display: flex;
	 	align-items: center;
	 	justify-content: center;
				
				.header_navbar {

					  li {
						text-align: center;
					  	  a {
					  	  	color: #fff;
					  	  	font-family: 'Conv_gl-gordeziani-medium';
					  	  	font-size: 28px;
					  	  }
					  }
				}

	 }
}
.header_language_box_resp {
	display: none;
}

/*//responsive*/


@media only screen and (max-width: 1500px) {
	
.home_main_fluid .home_tittle_box h1 {
    font-size: 57px;
}

.home_products_fluid .home_product_container .products_content a h3 {
    font-size: 26px;
}

.home_products_fluid .home_product_container .products_content a {
	min-height: 305px;
}
.home_products_fluid .home_product_container {
    width: 90%;

}

}


@media only screen and (max-width: 1200px) {
	
.home_main_fluid .home_tittle_box h1 {
    font-size: 50px;
}

.home_products_fluid .home_product_container {
    width: 90%;

}

.home_products_fluid .home_product_container .products_content a {
    min-height: 280px;
}

.home_products_fluid .home_product_container .products_content a h3 {
    font-size: 21px;
}

.home_services_fluid .home_services_tittle_container .laboratory_tittle h2 {
    font-size: 25px;
    color: #F5C400;
    font-family: 'Conv_gl-gordeziani-medium';
}

.home_services_fluid .home_services_tittle_container .farmers_tittle h2 {
    font-size: 25px;
    color: #F5C400;
    font-family: 'Conv_gl-gordeziani-medium';
}

.home_services_fluid .home_services_content_container .services_tittle h3 {
    font-size: 30px;
 
}

.home_services_fluid .home_services_content_container .laboratory_content p {
    font-size: 13px;
}

.home_news_fluid .home_news_container .news_box .news_info_box .news_info_text h3 {
  
    font-size: 22px;
}

.home_news_fluid .home_news_container .news_box .news_info_box .news_info_text p {
    font-size: 12px;
    margin-top: 10px;
    
}

.home_news_fluid .home_news_container .news_box .news_info_box {
    padding: 20px 15px 15px;
}
.home_news_fluid .home_news_container .news_box .news_info_box a {
    font-size: 19px;
}

.home_partner_fluid .home_partners_tittle h2 {
    font-size: 30px;

  
}
.home_news_fluid .home_news_tittle h2 {

    font-size: 30px;

}
.home_products_fluid .products_tittle h2 {

    font-size: 30px;
}

.footer_fluid .footer_container .footer_address_box span:last-child {
    font-size: 11px;
}

.footer_fluid .footer_container .footer_icons {
    
     a {
     	padding-left: 10px;
     }
}

}



@media only screen and (max-width: 991px) {
	
	.header_nav_col {
		display: none;
	}

	.header_language_box {
		display: none;
	}

	.hamburger_box {
		display: block;

		 img {

		 	 width: 40px;
		 }
	}

	.header_fluid .header_language_search_box {
		    justify-content: flex-end;	}
	.header_fluid .header_language_search_box .header_seach_box {
     margin-bottom: 0px; 
	}

	.header_fluid .header_logo {

    justify-content: flex-start;
 
}
.header_fluid .header_language_search_box .header_seach_box span {
    padding-left: unset;
    padding-right: 25px;
}

.header_language_box_resp {
	display: block;
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: 100;

	 span {
	 	    color: #fff;
		    cursor: pointer;
		    font-family: 'Conv_gl-gordeziani-medium';
		    font-size: 25px;
		    display: inline-block;
		    padding-right: 10px;
	 }
}

.home_main_fluid .home_tittle_box h1 {
    font-size: 35px;
}
.home_main_fluid .home_tittle_box a {
 
    font-size: 21px;

}

.home_partner_fluid .home_partner_container .item {

    justify-content: center;
}
.home_services_fluid .home_services_content_container .services_tittle {
  
    margin: 35px 0;

}
.home_services_fluid {
  
    padding-bottom: 20px;
   
}
.home_services_fluid .home_services_content_container .laboratory_content {
   
    margin: 50px 0;
}
.header_fluid {
    padding: 0 0;
}


}




@media only screen and (max-width: 576px) {
	
	.home_main_fluid .home_tittle_box h1 {
    font-size: 23px;
}

.home_main_fluid .home_tittle_box a {
    font-size: 17px;

}
.home_main_fluid .home_tittle_box .home_tittle_ch {

    padding: 5px 5px;
   
}
.home_products_fluid .home_product_container .products_content {
   
    box-shadow: unset;
    display: flex;
    justify-content: center;
        width: 100%;
}

.home_products_fluid .home_product_container .products_content a {
	min-height: unset;
    height: 200px;
    max-width: 200px;
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: 3px 4px 7px 0px #0000001f;
}
.home_products_fluid .home_product_container .products_content a h3 {
    font-size: 20px;
}

.home_pr_row .col-lg-3 {
	padding-left: 3px;
	padding-right: 3px;
}
.home_products_fluid .home_product_container .products_content a img {
   
    max-width: 80px;
        max-height: 60px;
}
.home_products_fluid .home_product_container {
    width: 100%;
}
.home_services_tittle_container {
	max-width: 1170px !important;
}

.home_services_fluid .home_services_tittle_container .farmers_tittle {

    padding: 22px 0;
   
}
.home_services_fluid .home_services_tittle_container .farmers_tittle h2 {
    font-size: 19px;
  
}
.home_services_fluid .home_services_tittle_container .laboratory_tittle h2 {
    font-size: 19px;
  
}

.home_services_fluid .home_services_tittle_container .laboratory_tittle {

   	 padding: 22px 0;
	}

	.home_services_fluid .home_services_content_container .services_tittle h3 {
    font-size: 25px;
	}


.home_services_fluid .home_services_content_container .laboratory_content p {
    font-size: 12px;
}

.home_news_fluid .home_news_container .news_box .news_info_box .news_info_text h3 {
    font-size: 19px;
}
.home_news_fluid .home_news_container .news_box .news_info_box .news_info_text p {
    font-size: 11px;
   
}
.home_news_fluid .home_news_tittle h2 a {
    color: #493728;
    font-size: 25px;
    font-family: 'Conv_gl-gordeziani-medium';
}
.home_news_fluid .home_news_tittle h2 {
   
    display: flex;
}
.home_partner_fluid .home_partners_tittle h2 {
    font-size: 25px;
}

.home_services_fluid .home_services_content_container .laboratory_content {
    margin: 30px 0;
}

.home_news_fluid {
    padding: 50px 15px;
  
}


}



@media only screen and (max-width: 375px) {
	
	.home_main_fluid .home_tittle_box h1 {
    font-size: 20px;
}

.home_main_fluid .home_tittle_box a {
    font-size: 15px;

}
.home_products_fluid .home_product_container .products_content a h3 {
    font-size: 16px;
}
.home_services_fluid .home_services_tittle_container .farmers_tittle h2 {
    font-size: 15px;
  
}
.home_services_fluid .home_services_tittle_container .laboratory_tittle h2 {
    font-size: 15px;
  
}
.home_services_fluid .home_services_content_container .laboratory_content a {
  
  
    font-size: 18px;
}
.home_services_content_container  {
	padding-left: 0px;
	padding-right: 0px;
}
.home_products_fluid .home_product_container .products_content a {
 
    height: 165px;
    
}

.home_news_fluid .home_news_container .news_box .news_img_box {
 
    max-height: 205px;
}
.home_news_fluid .home_news_container .news_box .news_info_box .news_info_text h3 {
    font-size: 17px;
}
.home_news_fluid .home_news_container .news_box .news_info_box .news_info_text p {
    font-size: 10px;
    margin-bottom: 5px;
}
.home_news_fluid .home_news_container .news_box .news_info_box a {
    font-size: 16px;
}
.home_news_fluid .home_news_container .news_box .news_info_box .news_info_text {
    height: 88%;
}
.home_news_fluid .home_news_container .news_box .news_info_box {
    padding: 10px 9px 8px;
    max-height: 205px;
}

}


@media only screen and (max-width: 335px) {

.home_news_fluid .home_news_container .news_box .news_info_box .news_info_text p {
    font-size: 9px; 
}
}


@media (min-width: 576px){

	.home_product_container {
    max-width: 1104px;
}

}