


.products_fluid {
		

	.products_container {

				
				max-width: 1600px;	
	

				.products_tittle {
						
						    border-left: 3px solid #F5C400;
    						padding: 0 5px;
    						background-image: url(../images/tittle_bord.png);
   							background-repeat: no-repeat;
   						 	background-position: right bottom;
   						 	    margin: 70px;
					


					h2 {
						color: #493728;
    					font-size: 40px;
    					font-family: 'Conv_gl-gordeziani-medium'
					}
				}



		.main_products_row {
			border-top: 1px solid #D1D3D4;

					.animals_row {
						    border-top: 1px solid #F5C400;
						    position: relative;
						      

						    .pig_tittle {
						    	position: absolute;
						    	top: 0;
						    	left: 50%;
						    	transform: translateX(-50%);
						    	z-index: 10;
						    	background-color: #F5C400;
						    	border-radius: 0 0 10px 10px;
						    	padding: 8px 25px;

						    			h2 {
						    				color: #493728;
						    				font-size: 18px;
						    				font-family: 'Conv_bpg_mrgvlovani_2009';
						    			}
						    }
					}


			.main_products_menu_col {
				border-right: 3px solid #D1D3D4;
					

					.animals_tab_panel {
						
						    padding: 30px 50px;

						 label {
						 	display: block;						
						 	position: relative;
						 	color: #493728;
						 	font-size: 13px;
						 	font-family: 'Conv_bpg_mrgvlovani_2009';


						 	ul {

						 			display:none;

						 		li {
						 		font-size:12px;
						 		font-family: 'Conv_bpg_mrgvlovani_2009';
						 		color: #000;
						 	}

						 	}
						 	

						 	&:not(:last-child){

						 		margin-bottom: 20px;
						 	}

					

						 		input{
						 			display: none;
						 			background-color:tomato !important;
						 		}
								
							/*	input:checked ~ .checkmark:after {
									background-color: #F5C400 !important;
									border: solid #F5C400 !important;
								}*/

								input:checked ~ .checkmark{
									background-image: url("../images/chekbox.png");
									border:1px solid #F5C400;
								}

								input:checked ~ ul{
									display:block;
								}

						 

						 	 span {
						 	 	    position: absolute;
								    top: 0;
   									left: -28px;
								    height: 15px;
								    width: 15px;
								    border:1px solid #493728;
								    background-repeat: no-repeat;
								    background-size: 70% 80%;
								    background-position: center center;

								    &:after{
								    	   left: 9px;
										    top: 5px;
										    width: 5px;
										    height: 10px;
										    /*border: solid white;*/
										    border-width: 0 3px 3px 0;
										    -webkit-transform: rotate(45deg);
										    -ms-transform: rotate(45deg);
										    transform: rotate(45deg);
										    content: "";
										    position: absolute;
								    }
						 	 }
						 }
					}

			}


			.row_wrapper {

					margin-bottom: 30px;
					padding: 60px 45px;
					border-bottom: 1px solid #D1D3D4;
    				position: relative;
									
							.down_product_tittle {
								position: absolute;
								bottom: 0;
								left: 50%;
								transform: translateX(-50%);
								z-index: 10;
								border: 1px solid #493728;
								border-bottom: none;
								border-radius: 5px 5px 0px 0px;
								width: 115px;
								height:28px;
								display: flex;
								justify-content: center;
								align-items: center;

								 	 h2 {
								 	 	color: #493728;
								 	 	font-size: 14px;
								 	 	font-family: 'Conv_bpg_mrgvlovani_2009';
								 	 }
							}
				
				.product_content {
					position: relative;

					.new_box {
    							position: absolute;
    							top: 5%;
    							left: 10%;
    							z-index: 10;
    						}


    				

					.product_box {
						background-color: rgba(246,244,241, .7);
						padding: 15px;
						display: flex;
						flex-direction: column;
    					align-items: center;
    					justify-content: center;
    					padding: 50px 25px 40px 25px;
    					position: relative;


    						&:hover .product_add_basket {
    							display:flex;
    						}
    					
								.product_add_basket {
								    	position: absolute;
								    	bottom: 0;
								    	left: 0;
								    	z-index: 10;
								    	background-color: #493728;
								    	width: 100%;
								    	height: 30px;
								    	display: none;

								    		&>span, div {
								    			width: 50%;
												display: flex;
											    align-items: center;
											    justify-content: center;

								    		}

								    				img {
								    					padding:2px;
								    					width: 24px;
								    					filter: brightness(0) invert(1);

								    				}

								    				.add_basket {


								    					 span  {
								    					 	font-size: 16px;
								    					 	font-family: 'Conv_gl-gordeziani-medium';
								    					 	color: #fff;
								    					 	padding-left: 5px;
														    margin-bottom: -3px;
														    display: inline-block;
								    					 	
								    					 }
								    				}

								    		}

    					

							h3 {
								color: #493728;
								font-size: 13px;
								font-family: 'Conv_bpg_mrgvlovani_2009';
							}

							img {
								    padding: 20px 0;
								    cursor:pointer;
							}

							.star_price_box {
								width: 100%;
							    display: flex;
							    justify-content: space-between;
							    align-items: center;
									
									div, span {
										display: flex;
										justify-content: center;
										align-items: center;
										width: 45%;
										background-color: #fff;
										height: 30px;
										font-size: 20px;
										color: #F5C400;

											img {
												padding:0;
											}
									}
							}
					}	
				}

			}


			.producs_price_box {
				width: 100%;
			    display: flex;
			    align-items: center;
			    justify-content: flex-end;
			        padding: 10px 95px;


			    span {
			    	color: #000000;
			    	font-size: 13px;
			    	font-family: 'Conv_bpg_mrgvlovani_2009';
			    	    padding-right: 10px;

			    }


				select {
					width: 125px;
					height: 40px;
					cursor: pointer;

					option {
						cursor: pointer;
					}
				}

			}
			

		}

	}

}


// products_inside

.products_inside_container {

		max-width: 1400px;

		.food_content_lft_row {
			height: 100%;
		}

		.foot_content_box {
			height: 100%;
		}

		.products_tittle {
						
						    border-left: 3px solid #F5C400;
    						padding: 0 5px;
    						background-image: url(../images/tittle_bord.png);
   							background-repeat: no-repeat;
   						 	background-position: right bottom;
   						 	    margin: 70px;
					


					h2 {
						color: #493728;
    					font-size: 40px;
    					font-family: 'Conv_gl-gordeziani-medium'
					}
				}


				.food_content {
					border-right:1px solid #000;
					border-bottom:1px solid #000;
				
				}



		.inside_product_info {
			padding: 30px 20px;

				.inside_product_tittle_rating {
					    margin-bottom: 40px;

					 h2 {
					 	color: #493728;
					 	font-size: 16px;
					 	font-family: 'Conv_bpg_mrgvlovani_2009';
					 }

					 span {
					 	display: block;
					 	color: #F5C400;
					 	font-size: 37px;
					 	padding-left: 3px;

					 }

					 img {
					 	padding-top: 30px;
					 	padding-bottom: 15px;
					 }
					}
				}


			.inside_product_information {

				  h3 {
				  	color: #493728;
				  	font-size: 16px;
					font-family: 'Conv_bpg_mrgvlovani_2009';
				  }

				  p {
				  	color: #000D20;
				  	font-size: 16px;
				  	font-family: 'Conv_BPG_Tahoma_Glaho';
				  	margin-top: 30px;
    				margin-bottom: 45px;
				  }


				  a {
				  	display: inline-block;
				  	background-color: #23170E;
				  	color: #fff;
				  	padding: 7px 15px;
				  	font-family: 'Conv_bpg_mrgvlovani_2009';
				  	font-size: 18px;
				  	border-radius: 5px;
				  }
			}




	

}

.products_main_info_container {
			max-width: 1645px;
			margin-top: 140px;

			.products_main_info_tabs {

				border-bottom: 1px solid #D1D3D4;
				display: flex;
			    justify-content: space-between;
			    align-items: center;
			        padding: 10px 46px;


				.tabs_info {

					cursor:pointer;

					 h4 {

					 	color: #493728;
					 	font-size: 18px;
					 	font-family: 'Conv_bpg_mrgvlovani_2009';
					 }
				}

			}

		.products_main_info_row {
			    padding: 45px 45px;
			    animation: prInside .8s;
		}
	

			.prduct_main_info_up {

					li {

						font-size: 16px;
						color: #000D20;
						font-family: 'Conv_bpg_mrgvlovani_2009';


						&:not(:last-child){

							margin-bottom: 20px;	
						}
						span {
							color: #F5C400;
							font-size: 16px;
						}

					}
			}


			.product_main_info_down {

				margin-top: 40px;

				p {
					font-size: 16px;
						color: #000D20;
						font-family: 'Conv_bpg_mrgvlovani_2009';
						margin-bottom: 0px;
				}


				li {
					font-size: 16px;
						color: #000D20;
						font-family: 'Conv_bpg_mrgvlovani_2009';


						span {
							color: #F5C400;
							font-size: 16px;
						}
				}

			}

			.main_info_tables {
				   

				    .table_header {
				    	background-color: #23170E;
				    padding: 12px;
				    text-align: center;
				    border-radius: 3px;
				    cursor: pointer;

										h4 {
										color: #fff;
										font-family: 'Conv_bpg_mrgvlovani_2009';
										font-size: 16px;

									}

				    }



				   .table_box {
				   	display: flex;
				   	justify-content: space-between;
				   	    width: 90%;
    					margin: 20px auto;

				   				.table_content {
				   					width: 33.333%;

				   					.food_tittle {
				   						text-align: center;
   										 padding: 7px;
   										 border: 1px solid #404041;
   										 border-bottom: none;

				   						h5 {
				   							color: #404041;
				   							font-size: 14px;
				   							font-family: 'Conv_bpg_mrgvlovani_2009';

				   						}
				   					}


				   					.food_species{

										padding: 5px;
										text-align: center;
										border: 1px solid #404041;
				   						 span {

				   						 	display: block;
				   						 	color: #404041;
				   							font-size: 14px;
				   							font-family: 'Conv_bpg_mrgvlovani_2009';
				   						 }
				   					}
				   				}
				   } 

					
			}
	}



#exampleModal {
	background: unset;
	background-color: rgba(245, 196, 0, .9);

	.modal-dialog {
		max-width: 700px;
		width: 80%;
		margin: 6.75rem auto;
	}
	.modal-body {
		background-color: #23170E;
	}

	.modal_content {
		width: 70%;
    height: 100%;
    margin: 20px auto;
    border: unset;
    border-radius: 10px;
	}

	.model_tittle {
		text-align: center;
		 max-width: 280px;
   		 margin: 0 auto;
   		 border-left: 2px solid #fff;
   		 background-image: url("../images/hend.png");
   		 background-repeat: no-repeat;
   		 background-position: right bottom;
		  h2 {
		  	color: #fff;
		  	font-size: 40px;
		  	font-family: 'Conv_gl-gordeziani-medium';

		  }
	}


	.modal_form {
		margin-top: 35px;

		 form {
		 	text-align: center;
		 		input {

		 			background-color:#190F09;
		 			color: #F5C400;
		 			border:none;
		 			outline: none;
		 			border-radius: 5px;
		 			    padding: 15px 20px;
		 			    font-size: 13px;
		 			    font-family: 'Conv_bpg_mrgvlovani_caps_2010';


		 			&::placeholder {
		 				color:#F5C400;
		 			}	
		 		}


		 		textarea {
		 			border:none;
		 			color: #F5C400;
		 			background-color: #190F09;
		 			height: 115px;
		 			resize: none;
		 			border-radius: 5px;
		 			font-family: 'Conv_bpg_mrgvlovani_caps_2010';
		 			font-size: 13px;
		 			    padding: 15px 20px;

		 			&::placeholder {
		 				color:#F5C400;
		 			}
		 		}

		 		button {
		 			color: #000;
		 			background-color: #F5C400;
		 			border-radius: 10px;
		 			padding: 10px 26px;
		 			margin-top: 20px;
		 			font-family: 'Conv_bpg_nino_mtavruli_normal';
		 			font-size: 18px;
		 			font-weight: bold;
		 			padding: 15px 26px 7px;
		 		}
		 }
	}
}


.modal-content {
	border:unset;
	border-radius: 10px;
	overflow: hidden;
}

@keyframes prInside {

	0%{
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}