


.products_fluid {
		

	.products_container {

				
				max-width: 1600px;	
	

				.products_tittle {
						
						    border-left: 3px solid #F5C400;
    						padding: 0 5px;
    						background-image: url(../images/tittle_bord.png);
   							background-repeat: no-repeat;
   						 	background-position: right bottom;
   						 	    margin: 70px;
					


					h2 {
						color: #493728;
    					font-size: 40px;
    					font-family: 'Conv_gl-gordeziani-medium'
					}
				}



		.main_products_row {
			border-top: 1px solid #D1D3D4;

					.animals_row {
						    border-top: 1px solid #F5C400;
						    position: relative;
						      

						    .pig_tittle {
						    	position: absolute;
						    	top: 0;
						    	left: 50%;
						    	transform: translateX(-50%);
						    	z-index: 10;
						    	background-color: #F5C400;
						    	border-radius: 0 0 10px 10px;
						    	padding: 8px 25px;

						    			h2 {
						    				color: #493728;
						    				font-size: 18px;
						    				font-family: 'Conv_bpg_mrgvlovani_2009';
						    			}
						    }
					}


			.main_products_menu_col {
				border-right: 3px solid #D1D3D4;
					

					.animals_tab_panel {
						
						    padding: 30px 50px;

						 label {
						 	display: block;						
						 	position: relative;
						 	color: #493728;
						 	font-size: 13px;
						 	font-family: 'Conv_bpg_mrgvlovani_2009';


						 	ul {

						 			display:none;

						 		li {
						 		font-size:12px;
						 		font-family: 'Conv_bpg_mrgvlovani_2009';
						 		color: #000;
						 	}

						 	}
						 	

						 	&:not(:last-child){

						 		margin-bottom: 20px;
						 	}

					

						 		input{
						 			display: none;
						 			background-color:tomato !important;
						 		}
								
							/*	input:checked ~ .checkmark:after {
									background-color: #F5C400 !important;
									border: solid #F5C400 !important;
								}*/

								input:checked ~ .checkmark{
									background-image: url("../images/chekbox.png");
									border:1px solid #F5C400;
								}

								input:checked ~ ul{
									display:block;
								}

						 

						 	 span {
						 	 	    position: absolute;
								    top: 0;
   									left: -28px;
								    height: 15px;
								    width: 15px;
								    border:1px solid #493728;
								    background-repeat: no-repeat;
								    background-size: 70% 80%;
								    background-position: center center;

								    &:after{
								    	   left: 9px;
										    top: 5px;
										    width: 5px;
										    height: 10px;
										    /*border: solid white;*/
										    border-width: 0 3px 3px 0;
										    -webkit-transform: rotate(45deg);
										    -ms-transform: rotate(45deg);
										    transform: rotate(45deg);
										    content: "";
										    position: absolute;
								    }
						 	 }
						 }
					}

			}


			.row_wrapper {

					margin-bottom: 30px;
					padding: 60px 45px;
					border-bottom: 1px solid #D1D3D4;
    				position: relative;
									
							.down_product_tittle {
								position: absolute;
								bottom: 0;
								left: 50%;
								transform: translateX(-50%);
								z-index: 10;
								border: 1px solid #493728;
								border-bottom: none;
								border-radius: 5px 5px 0px 0px;
								width: 115px;
								height:28px;
								display: flex;
								justify-content: center;
								align-items: center;

								 	 h2 {
								 	 	color: #493728;
								 	 	font-size: 14px;
								 	 	font-family: 'Conv_bpg_mrgvlovani_2009';
								 	 }
							}
				
				.product_content {
					position: relative;

					.new_box {
    							position: absolute;
    							top: 5%;
    							left: 10%;
    							z-index: 10;
    						}


    				

					.product_box {
						background-color: rgba(246,244,241, .7);
						padding: 15px;
						display: flex;
						flex-direction: column;
    					align-items: center;
    					justify-content: center;
    					padding: 50px 25px 40px 25px;
    					position: relative;


    						&:hover .product_add_basket {
    							display:flex;
    						}
    					
								.product_add_basket {
								    	position: absolute;
								    	bottom: 0;
								    	left: 0;
								    	z-index: 10;
								    	background-color: #493728;
								    	width: 100%;								    	
								    	display: none;
								    	    height: 33px;

								    	    span {
								    	    	img {
								    	    		margin-right: 22px;
								    	    	}
								    	    }


								    		&>span, div {
								    			width: 35%;
												display: flex;
											    align-items: center;
											    justify-content: center;

								    		}


											.add_basket {
												width: 65%;
											}


								    				img {
								    					padding:2px;
								    					        width: 25px;
								    					filter: brightness(0) invert(1);

								    				}

								    				.add_basket {


								    					 span  {								    					 
								    					 	font-family: 'Conv_gl-gordeziani-medium';
								    					 	color: #fff;
								    					 	padding-left: 5px;
														    margin-bottom: -3px;
														    display: inline-block;
														    font-size: 20px;
														        padding-right: 13px;
								    					 	
								    					 }
								    				}

								    		}

    					

							h3 {
								color: #493728;
								font-size: 13px;
								font-family: 'Conv_bpg_mrgvlovani_2009';
							}

							img {
								    padding: 20px 0;
								    cursor:pointer;
							}

							.star_price_box {
								width: 100%;
							    display: flex;
							    justify-content: space-between;
							    align-items: center;
									
									div, span {
										display: flex;
										justify-content: center;
										align-items: center;
										width: 45%;
										background-color: #fff;
										height: 30px;
										font-size: 20px;
										color: #F5C400;

											img {
												padding:0;
											}
									}
							}
					}	
				}

			}


			.producs_price_box {
				width: 100%;
			    display: flex;
			    align-items: center;
			    justify-content: flex-end;
			        padding: 10px 95px;


			    span {
			    	color: #000000;
			    	font-size: 13px;
			    	font-family: 'Conv_bpg_mrgvlovani_2009';
			    	    padding-right: 10px;

			    }


				select {
					width: 125px;
					height: 40px;
					cursor: pointer;
					 border-radius: 5px;
					font-family: 'Conv_bpg_mrgvlovani_2009';
    				font-size: 13px;

					option {
						cursor: pointer;
					}
				}

			}
			

		}

	}

}


// products_inside

.products_inside_container {

		max-width: 1400px;

		.food_content_lft_row {
			height: 100%;
		}

		.foot_content_box {
			height: 100%;
			    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #D1D3D4;


		}

		.products_tittle {
						
						    border-left: 3px solid #F5C400;
    						padding: 0 5px;
    						background-image: url(../images/tittle_bord.png);
   							background-repeat: no-repeat;
   						 	background-position: right bottom;
   						 	    margin: 70px;
					


					h2 {
						color: #493728;
    					font-size: 40px;
    					font-family: 'Conv_gl-gordeziani-medium'
					}
				}


				.food_content {
					
					border-bottom:1px solid #D1D3D4;
				
				}


				.food_content:last-child {
					border-bottom: none;

				}



		.inside_product_info {
			padding: 30px 20px;

				.inside_product_tittle_rating {
					    margin-bottom: 40px;

					 h2 {
					 	color: #493728;
					 	font-size: 16px;
					 	font-family: 'Conv_bpg_mrgvlovani_2009';
					 }

					 span {
					 	display: block;
					 	color: #F5C400;
					 	font-size: 37px;
					 	padding-left: 3px;

					 }

					 img {
					 	padding-top: 30px;
					 	padding-bottom: 15px;
					 }
					}
				}


			.inside_product_information {

				  h3 {
				  	color: #493728;
				  	font-size: 16px;
					font-family: 'Conv_bpg_mrgvlovani_2009';
				  }

				  p {
				  	color: #000D20;
				  	font-size: 16px;
				  	font-family: 'Conv_BPG_Tahoma_Glaho';
				  	margin-top: 30px;
    				margin-bottom: 45px;
				  }


				  a {
				  	display: inline-block;
				  	background-color: #F5C400;
				  	color: #fff;
				  	padding: 7px 15px;
				  	font-family: 'Conv_bpg_mrgvlovani_2009';
				  	font-size: 18px;
				  border-radius: 30px;
				  }
			}




	

}

.products_main_info_container {
			max-width: 1645px;
			margin-top: 140px;

			.products_main_info_tabs {

				/*border-bottom: 1px solid #D1D3D4;*/
				display: flex;
			    justify-content: space-between;
			    align-items: center;
			     padding: 10px 46px;
			     position: relative;


			     &:after {

			     	position:absolute;
			     	content: "";
			     	width: 100%;
			     	height: 2px;
			     	background-color: #D1D3D4;
			     	top: 45px;
			     	left: 0;

			     }


				.tabs_info {

					cursor:pointer;
					 position: relative;
   					 z-index: 100;

						

					 h4 {

					 	color: #493728;
					 	font-size: 18px;
					 	font-family: 'Conv_bpg_mrgvlovani_2009';
					 	opacity: .5;
					 	border-bottom: 2px solid transparent;
					 	padding-bottom: 14px;
					 }


					&.active h4 {
						opacity: 1;
						border-bottom: 2px solid #493728;
					}


				}

			}

		.products_main_info_row {
			    padding: 45px 45px;
			    animation: prInside .8s;
		}
	

			.prduct_main_info_up {

					li {

						font-size: 16px;
						color: #000D20;
						font-family: 'Conv_bpg_mrgvlovani_2009';


						&:not(:last-child){

							margin-bottom: 20px;	
						}
						span {
							color: #F5C400;
							font-size: 16px;
						}

					}
			}


			.product_main_info_down {

				margin-top: 40px;

				p {
					font-size: 16px;
						color: #000D20;
						font-family: 'Conv_bpg_mrgvlovani_2009';
						margin-bottom: 0px;
				}


				li {
					font-size: 16px;
						color: #000D20;
						font-family: 'Conv_bpg_mrgvlovani_2009';


						span {
							color: #F5C400;
							font-size: 16px;
						}
				}

			}

			.main_info_tables {
				   

				    .table_header {
				    	background-color: #23170E;
				    padding: 12px;
				    text-align: center;
				    border-radius: 3px;
				    cursor: pointer;

										h4 {
										color: #fff;
										font-family: 'Conv_bpg_mrgvlovani_2009';
										font-size: 16px;

									}

				    }



				   .table_box {
				   	display: flex;
				   	justify-content: space-between;
				   	    width: 90%;
    					margin: 20px auto;

				   				.table_content {
				   					width: 33.333%;

				   					.food_tittle {
				   						text-align: center;
   										 padding: 7px;
   										 border: 1px solid #404041;
   										 border-bottom: none;

				   						h5 {
				   							color: #404041;
				   							font-size: 14px;
				   							font-family: 'Conv_bpg_mrgvlovani_2009';

				   						}
				   					}


				   					.food_species{

										padding: 5px;
										text-align: center;
										border: 1px solid #404041;
				   						 span {

				   						 	display: block;
				   						 	color: #404041;
				   							font-size: 14px;
				   							font-family: 'Conv_bpg_mrgvlovani_2009';
				   						 }
				   					}
				   				}
				   } 

					
			}
	}



#exampleModal {
	background: unset;
	background-color: rgba(245, 196, 0, .9);

	.modal-dialog {
		max-width: 700px;
		width: 80%;
		margin: 6.75rem auto;
	}
	.modal-body {
		background-color: #23170E;
	}

	.modal_content {
		width: 70%;
    height: 100%;
    margin: 20px auto;
    border: unset;
    border-radius: 10px;
	}

	.model_tittle {
		text-align: center;
		 max-width: 280px;
   		 margin: 0 auto;
   		 border-left: 2px solid #fff;
   		 background-image: url("../images/hend.png");
   		 background-repeat: no-repeat;
   		 background-position: right bottom;
		  h2 {
		  	color: #fff;
		  	font-size: 40px;
		  	font-family: 'Conv_gl-gordeziani-medium';

		  }
	}


	.modal_form {
		margin-top: 35px;

		 form {
		 	text-align: center;
		 		input {

		 			background-color:#190F09;
		 			color: #F5C400;
		 			border:none;
		 			outline: none;
		 			border-radius: 5px;
		 			 padding: 15px 20px;
		 			 font-size: 13px;
		 			 width: 100%;
					 font-family: 'Conv_bpg_mrgvlovani_caps_2010';
					 margin-bottom: 15px;


		 			&::placeholder {
		 				color:#F5C400;
		 			}	
		 		}


		 		textarea {
		 			border:none;
		 			color: #F5C400;
		 			background-color: #190F09;
		 			height: 115px;
		 			resize: none;
		 			border-radius: 5px;
		 			font-family: 'Conv_bpg_mrgvlovani_caps_2010';
		 			font-size: 13px;
		 			padding: 15px 20px;
		 			 width: 100%;

		 			&::placeholder {
		 				color:#F5C400;
		 			}
		 		}

		 		button {
		 			color: #000;
		 			background-color: #F5C400;
		 			border-radius: 10px;
		 			padding: 10px 26px;
		 			margin-top: 20px;
		 			font-family: 'Conv_bpg_nino_mtavruli_normal';
		 			font-size: 18px;
		 			font-weight: bold;
		 			padding: 15px 26px 7px;
		 		}
		 }
	}
}

.img_zoom_container {

		.imgBox {

			width: 100%;
			height: 100%;

			&:nth-child(2){
				width: 50px !important;
				height: 50px !important;
			}

			 img {
			 	width: 100%;
			 	height: 100%;
			 	object-fit: cover;
			 }
		}

		.imgBox:nth-child(2){
				width: 50px !important;
				height: 50px !important;
			}


}


.modal-content {
	border:unset;
	border-radius: 10px;
	overflow: hidden;
}

@keyframes prInside {

	0%{
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}


.basket_fluid {
			
			.basket_row {
				margin-top: 20px;
			}

	height: 100vh;
	    position: relative;
    background-image: url(../images/about_bg.png);
    background-size: cover;
    background-repeat: no-repeat;


    .basket_tittle {

    	    border-left: 3px solid #F5C400;
		    padding: 0 5px;
		    background-image: url(../images/tittle_bord.png);
		    background-repeat: no-repeat;
		    background-position: right bottom;
		    margin-bottom: 50px;	

    	 h2 {
    	 	color: #493728;
		    font-size: 40px;
		    font-family: 'Conv_gl-gordeziani-medium';
    	 }
    }


    .basket_content_container {
			display: flex;
	

		

		.basket_right_info {

			 border: 1px solid #493728;
			 width: 100%;
				
			.basket_right_up>div {
				flex: 0 0 25%;
				text-align: center;
				padding: 10px 0;
			}	

			 .basket_right_up {
				height: 35%;
			 	display: flex;



			 		span {
			 			color: #8C8934;
			 			font-family: 'Conv_bpg_mrgvlovani_caps_2010';
			 			font-size: 13px;
			 			font-weight: bold;
			 		}
			 }

			 .basket_right_down>div {
			 	flex: 0 0 25%;
				text-align: center;
				padding: 10px 0;
				display: flex;
			    align-items: center;
			    justify-content: center;
			 }

			 .basket_right_down {
			 	display: flex;
			 	height: 65%;
			 	border-top: 1px solid #493728;

			 	 span {
			 	 	color: #F5C400;
			 	 	font-size: 12px;
			 	 		font-family: 'Conv_bpg_mrgvlovani_caps_2010';
			 	 }
			 }
		}	
	
    	.basket_content_img {

    		border: 1px solid #493728;
    		max-width: 160px;
    		border: 1px solid #493728;
		    max-width: 160px;
		    border-right: none;


    		 img {
    		 	object-fit: contain;
    		 	width: 100%;
    		 	min-height: 130px;
    		 }
    	}
    }
}

.img_zoom_container {
	height: 500px;
	
	background-color: #faebd78a;
}




/*// responsive*/


@media only screen and (max-width: 1500px) {
	
	.products_main_info_container .products_main_info_tabs .tabs_info h4 {
    font-size: 14px;

	}
	
	.products_main_info_container .main_info_tables .table_header h4 {
 
    font-size: 13px;
}
.products_main_info_container .prduct_main_info_up li {
    font-size: 13px;

}
.products_main_info_container .product_main_info_down p {
    font-size: 13px;
   
}
.products_main_info_container .product_main_info_down li {
    font-size: 13px;

}
.products_main_info_container .product_main_info_down li span {
   
    font-size: 13px;
}

.products_main_info_container .prduct_main_info_up li span {
  
    font-size: 13px;
}

.products_main_info_container .main_info_tables .table_box .table_content .food_tittle h5 {
   
    font-size: 12px;
    
}
.products_main_info_container .main_info_tables .table_box .table_content .food_species span {
   
    font-size: 12px;
  
}

}

@media only screen and (max-width: 1200px)  {

.products_main_info_container .products_main_info_tabs {

    padding: 10px 20px;
}
.products_main_info_container .products_main_info_tabs .tabs_info h4 {
    font-size: 12px;
}

.products_main_info_container .products_main_info_row {
    padding: 30px 20px;
  
}

}


@media only screen and (max-width: 1024px) {
	
	.products_fluid .products_container .main_products_row .main_products_menu_col .animals_tab_panel label {

    font-size: 12px;
    
	}

.products_fluid .products_container .products_tittle h2 {
    	font-size: 30px;
    
	}
	.products_fluid .products_container .main_products_row .animals_row .pig_tittle h2 {
    	
   	 	font-size: 14px;
    	
	}
	.products_fluid .products_container .main_products_row .row_wrapper .product_content .product_box h3 {
    color: #493728;
    font-size: 11px;
    font-family: 'Conv_bpg_mrgvlovani_2009';
}
.new_box img {
	width: 35px;
}

.products_fluid .products_container .main_products_row .row_wrapper .product_content .product_box .star_price_box div, .products_fluid .products_container .main_products_row .row_wrapper .product_content .product_box .star_price_box span {
 
    font-size: 13px;
    
}
.products_fluid .products_container .main_products_row .row_wrapper .product_content .new_box {

    left: 15%;
   
}

.products_fluid .products_container .main_products_row .row_wrapper .down_product_tittle h2 {
   
    font-size: 13px;
    
}
.products_fluid .products_container .main_products_row .producs_price_box span {

    font-size: 10px;
}
.products_fluid .products_container .main_products_row .producs_price_box select {
    width: 125px;
    height: 31px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 5px;
}


.products_inside_container .products_tittle h2 {
    
    font-size: 30px;
    
}

.products_inside_container .inside_product_info .inside_product_tittle_rating h2 {
  
    font-size: 12px;
    
}
.products_inside_container .inside_product_info .inside_product_tittle_rating span {
 
    font-size: 22px;
  
}


.products_inside_container .inside_product_information h3 {
   
    font-size: 12px;
    
}

.products_inside_container .inside_product_information p {
    
    font-size: 13px;
}


.products_inside_container .inside_product_information a {

    font-size: 13px;
    
}

.products_main_info_container .products_main_info_row {
    padding: 45px 20px;
    animation: prInside .8s;
}

.products_main_info_container .products_main_info_tabs .tabs_info h4 {
    font-size: 10.5px;
}

.products_main_info_container .main_info_tables .table_header h4 {
    font-size: 10px;
}
.products_main_info_container .main_info_tables .table_box .table_content .food_species span {
    font-size: 9.6px;
}

#exampleModal .model_tittle h2 {
  
    font-size: 30px;
    
}

#exampleModal .model_tittle {
 
    max-width: 216px;
 
}
#exampleModal .model_tittle h2 {
  
    padding-left: 7px;
}
#exampleModal .modal_form form input {
 
    padding: 12px 20px;
    font-size: 11px;
    
}
#exampleModal .modal_form form textarea {
   
    font-size: 11px;
   
}

#exampleModal .modal_form form button {
 
    font-size: 13px;
   
}









}