

.our_team_fluid {
		
		background-image: url("../images/home_pr_bg.png");
	
	 .our_team_container {


	 	max-width: 1190px;
	 	padding-bottom: 260px;
		

		.our_team_row {

			&>.col-md-4, .col-md-7 {
				padding-left: 4px;
				padding-right: 4px;
			}
		}

		.our_team_row {

			&>.col-md-7 {
				
				
			}
		}

	 		.our_team_tittle {

	 				    border-left: 3px solid #F5C400;
    					padding: 0 5px;
   					 	background-image: url(../images/tittle_bord.png);
    					background-repeat: no-repeat;
   						background-position: right bottom;
   						 margin: 70px 0;

	 				h2 {
							
							color: #493728;
    						font-size: 40px;
    						font-family: 'Conv_gl-gordeziani-medium';
	 				}
	 		}

		
		.our_team_box_left {
			display: flex;
			height: 340px;
			border:1px solid #D1D3D4;

				&:not(:last-child){
						margin-bottom: 10px;
				}
		

			.our_team_img {
				width: 50%;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
			}


			.our_team_info {
				width: 50%;
				font-family: 'Conv_bpg_mrgvlovani_2009';
				padding: 40px 15px 15px 40px;


				a {
					display: flex;
					justify-content: center;

					span {
						display: flex;
    						align-items: flex-end;
   						 padding-right: 5px;
					}
				}


				 h3 {
				 	color: #8C8934;
				 	font-size: 14px;

				 }

				 p {
				 	color: #000D20;
				 	font-size: 16px;
				 	font-family: 'Conv_BPG_Tahoma_Glaho';
				 	margin-top: 25px;
    				margin-bottom: 60px;
				 }
			}
		}

		
		.our_team_box_right {
			/*display: flex;
			height: 340px;*/
			border:1px solid #D1D3D4;
			height: 100%;

			.our_team_img {
				width: 100%;
				height: 50%;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
			}


			.our_team_info {
				width: 100%;
				height: 50%;
				font-family: 'Conv_bpg_mrgvlovani_2009';
				padding: 40px 15px 15px 40px;


				a {
					display: flex;
					justify-content: center;

					span {
						display: flex;
    						align-items: flex-end;
   						 padding-right: 5px;
					}
				}


				 h3 {
				 	color: #8C8934;
				 	font-size: 14px;

				 }

				 p {
				 	color: #000D20;
				 	font-size: 16px;
				 	font-family: 'Conv_BPG_Tahoma_Glaho';
				 	margin-top: 25px;
    				margin-bottom: 60px;
				 }
			}
		}


		


	 }

}


.footer_fluid {
	position: relative;


		.footer_flower_box {
			position: absolute;
			bottom: 99%;
			right: 5%;
			

		}
}

/*responsive*/

@media only screen and (max-width: 1500px) {
	
.our_team_row {
	justify-content: center;
}

}


@media only screen and (max-width: 1024px) {
	
.our_team_fluid .our_team_container .our_team_tittle h2 {
    
    font-size: 30px;
    
}

.our_team_fluid .our_team_container .our_team_box_left .our_team_info h3 {
    color: #8C8934;
    font-size: 12px;
}
.our_team_fluid .our_team_container .our_team_box_left .our_team_info p {
    
    font-size: 13px;
   
}

.our_team_fluid .our_team_container .our_team_box_right .our_team_info h3 {
    color: #8C8934;
    font-size: 12px;
}

.our_team_fluid .our_team_container .our_team_box_right .our_team_info p {
  
    font-size: 13px;
   
}
.footer_flower_box img {
	width: 100px;
}
.footer_flower_box img {
    width: 300px;
}

}


@media only screen and (max-width: 1024px) {
	.our_team_fluid .our_team_container .our_team_box_left .our_team_info {
   
   	 padding: 33px 2px 15px 14px;
	}

	.our_team_fluid .our_team_container .our_team_box_right .our_team_info {

    	 padding: 33px 2px 15px 14px;
	}
}

@media only screen and (max-width: 768px) {
	
	.our_team_fluid .our_team_container .our_team_box_right {
  
    display: flex;
	}
	.our_team_fluid .our_team_container .our_team_box_right .our_team_img {
   
     height: 100%; 
}

.our_team_fluid .our_team_container .our_team_box_right {
    
    height: 340px;
    margin-top: 10px;
}

}



@media only screen and (max-width: 576px) {
	
	.our_team_fluid .our_team_container .our_team_box_left {
   
    height: 240px;
    
	}
	.our_team_fluid .our_team_container .our_team_box_left .our_team_info p {
    color: #000D20;
    font-size: 13px;
   
    margin-top: 20px;
    margin-bottom: 20px;
}

.our_team_fluid .our_team_container .our_team_box_right {
    height: 240px;
    
}
.our_team_fluid .our_team_container .our_team_box_right .our_team_info p {
   margin-top: 20px;
    margin-bottom: 20px;
}
.our_team_fluid .our_team_container .our_team_box_left .our_team_info {
    padding: 9px 2px 9px 8px;
}
.our_team_fluid .our_team_container .our_team_box_left .our_team_info p {
   
    font-size: 12px;
   
}

}

@media only screen and (max-width: 425px) {

.our_team_fluid .our_team_container .our_team_box_left .our_team_info {
    padding: 8px 5px 5px 5px;
}

.our_team_fluid .our_team_container .our_team_box_left .our_team_info p {

    font-size: 10px;
    margin-top: 15px;
       margin-bottom: 4px;
}
.our_team_fluid .our_team_container .our_team_box_left {
    height: 200px;
}
.our_team_fluid .our_team_container .our_team_box_right .our_team_info {
         padding: 14px 2px 15px 5px;
}
.our_team_fluid .our_team_container .our_team_box_right .our_team_info p {
 font-size: 11px;
    margin-top: 15px;
        margin-bottom: 4px;
}

}